<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="intern.line.tokyoaclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_bg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Debug.DebugActivity" />
        <activity android:name=".MainPageActivity" />
        <activity android:name=".TalkActivity" />
        <activity android:name=".Debug.ImageDebugActivity" />
        <activity android:name=".NoUse.FriendListActivity" />
        <activity android:name=".AddFriendActivity" />
        <activity android:name=".TabLayoutActivity" />
        <activity android:name=".Debug.localDBDebugActivity" />
        <activity android:name=".EditNameActivity" />
        <activity android:name=".EditIconActivity" />
        <activity android:name=".CreateGroupActivity" />
        <activity android:name=".ConfigureGroupActivity" />
        <activity android:name=".AddMemberActivity" />
        <activity android:name=".MemberListActivity" />
    </application>

</manifest>
